html, body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #f4f4f4;
  color: $text-black;
  font-family: $font-main;
}

a {
  text-decoration: none;
  color: inherit;
}

.center-wrap {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

.btn {
  border: none;
  border-radius: 10px;
  outline: none;

  &--hidden {
    display: none;
  }

  &--green {
    border: 1px solid $green;
    background: lighten($green, 35%);

    &:hover {
      background: lighten($green, 25%);
    }

    &:active {
      background: lighten($green, 17%);
    }
  }

  &--blue {
    border: 1px solid $blue;
    background: lighten($blue, 35%);

    &:hover {
      background: lighten($blue, 25%);
    }

    &:active {
      background: lighten($blue, 15%);
    }
  }

  &--red {
    border: 1px solid $red;
    background: lighten($red, 35%);

    &:hover {
      background: lighten($red, 25%);
    }

    &:active {
      background: lighten($red, 15%);
    }
  }
}
