.input-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  & input[name="entry"] {
    flex: 0 1 82%;
    margin-right: 2%;
    padding: 8px 15px;
    font-family: $font-main;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid $lightgrey;
    border-radius: 10px;
    background: $white;
    outline: none;

    &:focus {
      background: white;
    }
  }

  &__btn {
    position: relative;
    flex: 0 1 10%;
    padding-left: 30px;
    padding-right: 10px;
    font-family: $font-main;
    font-size: 20px;
    line-height: 24px;
    color: darken($green, 30%);

    &:after {
      position: absolute;
      top: 7px;
      left: 10px;
      content: '\ea0a';
      font-family: 'icomoon';
      font-size: 14px;
      color: darken($green, 20%);
    }
  }
}
