.input-form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  & input[name="entry"] {
    flex: 0 1 36%;
    margin-right: 2%;
    padding: 10px 15px;
    font-family: $font-main;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid $lightgrey;
    border-radius: 10px;
    background: $white;
    outline: none;

    &:focus {
      background: white;
    }
  }

  &__btn {
    flex: 0 1 auto;
    padding: 0 11px;
    font-family: $font-main;
    font-size: 20px;
    line-height: 24px;
    border: 1px solid $green;
    color: $text-black;
    background: lighten($green, 35%);

    &:hover {
      background: lighten($green, 25%);
    }

    &:active {
      background: lighten($green, 17%);
    }
  }
}
